/*
* Variables
*/
$black: #333333;
$grey: #8D8D8D;



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/*
* Mixins
*/

/*
* Global
*/
* {
	/* font-family: 'Playfair Display', serif;*/
	font-family: 'Yantramanav', sans-serif; 
	color: $black;
}

/*
* Styling
*/

// General
.navbar {

	&.navbar-expand-lg {
		transition: 0.4s;
		background-color: transparent !important;

		&:hover {
			background-color: white !important;
		}
	}

	&-toggler {
		border: none !important;
	}

	&-logo {
		height: 30px;
		width: auto;
	}

	&-nav {
		line-height: 4rem;
		background-color: white;
	}
}

.nav {
	&-link {
		font-size: 24px;
		font-family: 'Playfair Display', serif;
		text-align: center;
	}
}

// About
.header {
	background-color: white;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	&-title {
		width: 80vw;
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&-left {
			font-size: calc(40px + 1.5vw);
			font-family: 'Playfair Display', serif;
			text-align: left;
		}
		&-right {
			font-size: calc(40px + 1.5vw);
			font-family: 'Playfair Display', serif;
			text-align: right;
		}
	}
}

.segment {
	&-left {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 2rem;
		font-family: 'Playfair Display', serif;

	}

	&-right {
		margin-bottom: 8rem;
		&-text {
			font-size: 1rem;
			margin-bottom: 2rem;
			
			&.title {
				font-weight: 700;
				margin-right: 6px;
			}

			&.date {
				color: $grey;
				font-weight: 300;
				margin: 0;
			}

			&.text {	
				font-weight: 300;
			}
		}
	}
}


.skills {
	font-size: 1rem;
	font-weight: 300;
	list-style-type: none;
	line-height: 3rem;
	padding-left: 0;
}

.links {
	list-style-type: none;
	display: flex;
	margin: 2rem 0;
}

.link-item {
	margin-right: 2rem;
	text-decoration: underline;
	font-size: 1rem;
	font-weight: 300;
	color: #333333;

	&:hover {
		color: black;
		text-decoration: none;
	}
}

// Work
.section{
	position: relative;
	text-align: center;
}

.project {
	position: relative;
	text-align: center;
	
	&-image {
		width: 100%;
		max-width: 600px;
		position: relative;
		object-fit: cover;

		-webkit-box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.04);
		-moz-box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.04);
		box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.04);
		transition: 0.4s;

		&:hover {
			-webkit-box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.1);
			-moz-box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.1);
			box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.1);
		}

		&-inside {
			height: 100px;
		}
	}


	&-text {
		position: absolute;
		top: 35%;
		left: -5rem;
		text-align: left;

		&-title {
			font-family: 'Playfair Display', serif;
			font-size: calc(2rem + 1.5vw);
		}

		&-small {
			text-transform: uppercase;
			font-size: 0.8rem;
		}
	}
}

.fp-tableCell {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

/*
* Responsive breakpoints
*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.navbar.navbar-expand-lg {
		background-color: transparent !important;
		padding: 2rem 8rem;
	}

	.nav-link {
		margin-left: 1rem;
	}

	.navbar {
		&-nav {
			margin-left: auto !important;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
	.project {
		position: relative;
		display: flex !important;
		flex-direction: column-reverse;

		&-text {
			position: relative;
			top: 0;
			left: 0;
			text-align: center;
			margin-bottom: 1rem;
		}

		/* &-image {
		} */
	}

	.navbar {

		&-collapse {
			height: 88vh;
			width: 100vw;
			background-color: white;
			transition: 0.6s;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.fp-right {
		display: none;
	}

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

}
